<h3>Current Saved Games</h3>
<h5>Location Games</h5>
<% session.keys.each do |s| %>
  <% if PhotosController::LOCATION_GAMES.has_key?(s.to_sym) %>
    <%= link_to s.split("_").collect { |s| s.capitalize }.join(" "), "/users/#{current_user.id}/games/#{s}" %>
    <br><br>
  <% end %>
<% end %>
<hr>
<%# render :partial => "user_social_games" %>