<h5>Social Games</h5>
<% if s == "social" %>
  <% session["social"].keys.each do |friend| %>
  <% if session.keys.include?(friend.to_s) %>
    <%= link_to friend, "/users/#{current_user.id}/#{friend}", :friend => friend %>
  <% end %>
  <br><br>
  <% end %>
<% end %>