<h1>Listing users</h1>

<% @users.each do |user| %>
<h5><%= user.name %></h5>
<% end %>

<%= link_to 'New User', new_user_path %>

<!-- photo

user_name - user.full_name
image - images.standard_resolution.url
latitude - location.latitude
longitude - location.longitude
location - location.name
link - link
caption - caption.text -->
