<% if guess.user.id == @guess.user.id %>
<div class="map_link" id="user_guess">
<% else %>
<div class="map_link">
<% end %>
<h4><%= guess.user_name.upcase %></h4>
<%= guess.proximity_to_answer_in_feet %>  feet from actual location<br> 
<%= guess.street_address %><br>
Guessed <%= guess.distance_of_time_in_hours_and_minutes(guess.created_at, Time.now) %> ago
</div><br>

