<div id="about">
  <div class="row-fluid about">
    <h3>The ViewFinder Story</h3>
    <p>ViewFinder was inspired by the View From Your Window game on the popular (and awesome) blog <%= link_to "The Daily Dish", "http://dish.andrewsullivan.com/" %></p>
  </div>
  <div class="row-fluid about">
    <h3>Jesse La Russo</h3>
    <%= image_tag('jesse.jpg', :class => "span2", :style=>"margin-left:0px;") %>
    <div class="span8">
      <p>Hailing from the flat farmlands of the midwest, Jesse sought to immerse himself in the energy and creativity of New York, which he now calls home.  Before learning Ruby, Jesse was a NYC Teaching Fellow for 3 years, where he taught math to students with learning disabilities. He started an after-school robotics class re-kindled his early interest in computers, that stems back from when BBS was the hot new thing. Attending The Flatiron School was a great way for Jesse to learn full-stack development in a collaborative environment.</p>
      <br>
      <p>Jesse is passionate about working on projects that creatively engage users and deliver a lot of functionality in a simple package.</p>
    </div>
  </div>
  <div class="row about">
    <h3>Erin Lee</h3>
    <div class="span2 erin"></div>
    <div class="span8">
      <p>You know that girl one table over standing on the chair, taking an Instagram shot of her appetizer? Yeah, that's me. I'm a habitual collector. A collector of travel experiences, candid photos, the latest iPad apps, memorable quotes, and Groupon deals.</p>
      
      <p>My abiding curiosity and love of discovery took me from a B.A. in
      Economics at Northwestern University to a year and a half in India traveling and working with children of the red-light district.</p>
      
      <p>Having spent the next three years working as a tax accountant, I knew I needed to be a creator, be a builder of beautiful solutions. A pixel off the grid makes me nervous, a dead pixel on the screen makes me faint.</p>
    </div>
  </div>
  <div class="row-fluid about">
    <h3>Eugene Wang</h3>
    <%= image_tag('eugene.jpg', :class => "span2", :style=>"margin-left:0px;") %>
    <div class="span8">
      <p>Prior to the Flatiron School, Eugene cut his analytical teeth by building Excel models in the hedge fund investment unit at The Blackstone Group. Despite joining the firm with the intent of some day going to law school, Eugene grew to enjoy thinking analytically, working with data and serving as his team’s business liaison to the technology team.</p>
      <br>
      <p>Originally from the suburbs of Chicago, Eugene attended Duke University and graduated Magna Cum Laude with dual degrees in Economics and Public Policy in 2010. At Duke, Eugene was actively involved in the school newspaper, helping lead the newsroom as Managing Editor his junior year and serving as lead designer. Eugene is passionate about technology as structured creativity and for its ability to weave together the artistic with the analytical. </p>
    </div>
  </div>
</div>
<br>

