<div id="about">
  <div class="row-fluid about">
    <h3>Jesse La Russo</h3>
    <%= image_tag('logo.png', :class => "span2", :style=>"margin-left:0px;") %>
    <div class="span8">
      <p>Prior to the Flatiron School, Eugene cut his analytical teeth by building Excel models in the hedge fund investment unit at The Blackstone Group. Despite joining the firm with the intent of some day going to law school, Eugene grew to enjoy thinking analytically, working with data and serving as his team’s business liaison to the technology team.</p>
      <br>
      <p>Originally from the suburbs of Chicago, Eugene attended Duke University and graduated Magna Cum Laude with dual degrees in Economics and Public Policy in 2010. At Duke, Eugene was actively involved in the school newspaper, helping lead the newsroom as Managing Editor his junior year and serving as lead designer. Eugene is passionate about technology as structured creativity and for its ability to weave together the artistic with the analytical. </p>
    </div>
  </div>
  <div class="row-fluid about">
    <h3>Erin Lee</h3>
    <%= image_tag('logo.png', :class => "span2", :style=>"margin-left:0px;") %>
    <div class="span8">
      <p>Prior to the Flatiron School, Eugene cut his analytical teeth by building Excel models in the hedge fund investment unit at The Blackstone Group. Despite joining the firm with the intent of some day going to law school, Eugene grew to enjoy thinking analytically, working with data and serving as his team’s business liaison to the technology team.</p>
      <br>
      <p>Originally from the suburbs of Chicago, Eugene attended Duke University and graduated Magna Cum Laude with dual degrees in Economics and Public Policy in 2010. At Duke, Eugene was actively involved in the school newspaper, helping lead the newsroom as Managing Editor his junior year and serving as lead designer. Eugene is passionate about technology as structured creativity and for its ability to weave together the artistic with the analytical. </p>
    </div>
  </div>
  <div class="row-fluid about">
    <h3>Eugene Wang</h3>
    <%= image_tag('eugene.jpg', :class => "span2", :style=>"margin-left:0px;") %>
    <div class="span8">
      <p>Prior to the Flatiron School, Eugene cut his analytical teeth by building Excel models in the hedge fund investment unit at The Blackstone Group. Despite joining the firm with the intent of some day going to law school, Eugene grew to enjoy thinking analytically, working with data and serving as his team’s business liaison to the technology team.</p>
      <br>
      <p>Originally from the suburbs of Chicago, Eugene attended Duke University and graduated Magna Cum Laude with dual degrees in Economics and Public Policy in 2010. At Duke, Eugene was actively involved in the school newspaper, helping lead the newsroom as Managing Editor his junior year and serving as lead designer. Eugene is passionate about technology as structured creativity and for its ability to weave together the artistic with the analytical. </p>
    </div>
  </div>
</div>
<br>

