<h1>Site#home</h1>
<p>Find me in app/views/site/home.html.erb</p>

<%= binding.pry %>

<div class="cover_photo span3">
  <h3>Union Square<h3>
  <%= image_tag(@union_square.image) %>
</div>

<div class="cover_photo span3">
  <h3>30 Rock<h3>
  <%= image_tag(@thirty_rock.image) %>
</div>

<div class="cover_photo span3">
  <h3>#vfyw<h3>
  <%= image_tag(@vfyw.image) %>
</div>
