<h1>Site#home</h1>
<p>Find me in app/views/site/home.html.erb</p>

<div class="cover_photo span3">
  <%#= image_tag(@union_square.image) %>
  <%= link_to image_tag("union_square.JPG"), photos_location_1_path %>
  <p>Union Square</p>
</div>

<div class="cover_photo span3">
  <%#= image_tag(@thirty_rock.image) %>
  <%= link_to image_tag("thirty_rock.jpg"), photos_location_2_path %>
  <p>30 Rock</p>
</div>

<div class="cover_photo span3">
  <%#= image_tag(@vfyw.image) %>
  <%= link_to image_tag("times_square.jpg"), photos_vfyw_path %>
  <p>Times Square (#VFYW for now)</p>
</div>

<div class="cover_photo span3">
  <%#= image_tag(@vfyw.image) %>
  <%= link_to image_tag("times_square.jpg"), :url => "photos/index_popular" %>
  <p>Popular Photos</p>
</div>
