<h1>Site#home</h1>
<p>Find me in app/views/site/home.html.erb</p>

<div class="cover_photo span4">
  <%= image_tag(@union_square.image) %>
  <p class="headline">Union Square</p>
</div>

<div class="cover_photo span4">
  <%= image_tag(@thirty_rock.image) %>
  <p class="headline">30 Rock</p>
</div>

<div class="cover_photo span4">
  <%= image_tag(@vfyw.image) %>
  <p class="headline">#vfyw</p>
</div>
