/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 */

.navbar-inner ul {
	list-style: none;
	display: inline-block;
}
ul > li {
	margin: 10px;
	display: inline-block;
}
li a:hover {
	color: #fff;
	text-decoration: none;
	background-color: #F89883;
}
div.marker-legend {
	padding-top: 15px;
	.span8 {
		float: left;
	}
}