// Place all the styles related to the Guesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h5 {
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 20px;
	letter-spacing: 5px;
	color: #fff;
}

.map_link {
  border-radius:30px;  
  letter-spacing: 3px;
}
.map_link h4 {
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 18px;
	color: #fff;
}

.hover_link {
  background-color:#fecc67;
  color: #000;
}

 #mapdiv {
 	height: 600px; 
 	max-width: 600px; 
 	border:solid 5px #0e8f7e;
}