// Place all the styles related to the Guesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h5 {
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 20px;
	letter-spacing: 5px;
	color: #fff;
}

.map_link {
  border-radius:30px;  
}

.hover_link {
  background-color:#0B344F;
}

