// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.show-grid-contribute {
  background-color: #707070;
  color: #fff;
  font-size: 30px;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  min-height: 40px;
  line-height: 40px;
  padding: 10px;
}
.show-grid1 [class*="span"] {
  background-color: #F89883;
  color: #FFF;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  min-height: 40px;
  line-height: 40px;
}
span {
  letter-spacing: 5px;
  font-family: 'Helvetica Neue', sans-serif;
  font-style: normal;
}
#showhtml {
  letter-spacing: 2px;
  font-size: 18px;
  font-family: 'Helvetica Neue', sans-serif;
}

#empty_stock {
  width: 52em;
  margin-bottom: 2em;
}

.styled-button-5 {
  background-color:#81AC8B;
  color:#fff;
  font-family:'Helvetica Neue',sans-serif;
  font-size:18px;
  line-height:25px;
  letter-spacing: 5px;
  border-radius:20px;
  -webkit-border-radius:20px;
  -moz-border-radius:20px;
  border:0;
  text-shadow:#C17C3A 0 -1px 0;
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
  
}
.styled-button-5:hover {
background-color:#c9d787;
}
.styled-button-6 {
  background-color:#c9d787;
  color:#fff;
  font-family:'Helvetica Neue',sans-serif;
  font-size:18px;
  line-height:30px;
  letter-spacing: 5px;
  border-radius:20px;
  -webkit-border-radius:20px;
  -moz-border-radius:20px;
  border:0;
  text-shadow:#C17C3A 0 -1px 0;
  padding-left: 25px;
  padding-right: 25px;
  text-decoration: none;
}

.map_container {
  clear: both;
}

.row {
  margin: 0 auto;
}

.vfyw {
  margin: 0 auto;
}
.wrapper {
  position: relative;
  max-width: 612px;
  width: 100%;
}

.view_play_button {
  padding-left: 50px;
  padding-right: 50px;
  float:right;
}
.view_play_button:hover {
  padding-left: 270px;
  padding-right:90px;
  float:right;
  -webkit-transition: all 1s ease; 
  -moz-transition: all 1s ease; 
  -o-transition: all 1s ease; 
  background-color: #ff9900;
}

@-webkit-keyframes spaceboots {
  0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
  10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
  20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
  30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
  40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
  50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
  60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
  70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
  80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
  90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
  100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}

.shuffle_action:hover, {
  -webkit-animation-name: spaceboots;
  -webkit-animation-duration: 0.8s;
  -webkit-transform-origin:50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

@media (max-width: 479px) {
  .container {
    width: auto;
  }

  .row-fluid {
    margin-left: 0% !important;
  }

  #photos_index_header {
    line-height: 2em;
  }

  .shuffle_action, .view_play_button {
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1em !important;
  }

  .view_play_button:hover {
    padding-left: 2em;
    padding-right:2em;
    float:right;
    -webkit-transition: all 1s ease; 
    -moz-transition: all 1s ease; 
    -o-transition: all 1s ease; 
    background-color: #ff9900;
  }

  .guess_count {
    margin-top: -0.5em;
  }

  .carousel-indicators {
    margin-top: 1.2em;
  }

  .game_image {
    margin-top: 1em;
  }

  #marker_sign {
    width: 120%;
  }

  #submit_guess {
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1em;
  }

  #mapdiv {
    width: 95%;
    /*margin-left: 1em;*/
  }

}
