// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.show-grid1 [class*="span"] {
  background-color: #F89883;
  color: #FFF;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  min-height: 40px;
  line-height: 40px;
}
span {
  letter-spacing: 5px;
  font-family: 'Helvetica Neue', sans-serif;
  font-style: normal;
}
.styled-button-5 {
  background-color:#81AC8B;
  color:#fff;
  font-family:'Helvetica Neue',sans-serif;
  font-size:18px;
  line-height:30px;
  letter-spacing: 5px;
  border-radius:20px;
  -webkit-border-radius:20px;
  -moz-border-radius:20px;
  border:0;
  text-shadow:#C17C3A 0 -1px 0;
  padding-left: 25px;
  padding-right: 25px;
}
.styled-button-5:hover {
background-color:#c9d787;
}
.styled-button-6 {
  background-color:#c9d787;
  color:#fff;
  font-family:'Helvetica Neue',sans-serif;
  font-size:18px;
  line-height:30px;
  letter-spacing: 5px;
  border-radius:20px;
  -webkit-border-radius:20px;
  -moz-border-radius:20px;
  border:0;
  text-shadow:#C17C3A 0 -1px 0;
  padding-left: 25px;
  padding-right: 25px;
}

.modal {
  width: 100em;
  margin-left: -50em;
  height: 50em;
}

.modal-body {
  height: 50em;
  margin-bottom: -15em;
}

.modal-footer {
  clear: both;
  position: absolute;
  bottom: 5em;
  right: 0;
  width: 100%;
}

.map_container {
  clear: both;
}

.row {
  margin: 0 auto;
}

.vfyw {
  margin: 0 auto;
}
.wrapper {
  position: relative;
  max-width: 612px;
  width: 100%;
}