// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-link {
    padding: 10px 10px;
    background: #a0e0a9;
}
/*#title-placeholder {
	padding: 20px 80px;
  background-color: #F89883;
}
#title-placeholder img {
	max-width: 150px;
}*/
.show-grid [class*="span"] {
	background-color: #a0e0a9;
	color: #FFF;
	letter-spacing: 5px;
	text-align: center;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	min-height: 40px;
	line-height: 40px;
}
.instruct {
	align:center;
}

#avatar {
	position: relative;
}

#login_name {
	position: absolute;
	font-size: 30pt;
	top: 0;
	left: 0;
	z-index: 1000;
}