// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-link {
    padding: 20px 65px;
    background: #a0e0a9;
    color: #FFF;
    letter-spacing: 5px;
}
